html{
  position: relative;
  min-height: 100%;
}
body{
  background-image: url(cloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
}
.jumbotron{
  text-align: center;
  font-weight: bolder;
  background-color: inherit;
}
.col-md-5{

  border: 2px solid grey;
  padding: 5%;
  margin: 5%;
  background:hsla(0, 100%, 90%, 0.2);
  
}
#result, #result1{
  display: none;
}
/*#ageConverter, #dateToAge{
  display: none;
}*/
